
<div     class="box-shadow mt-5 mb-5 " >
<h1>Whoo hoo!!</h1> <br>
<h2>ThankYou for your order..</h2>
<br>
<div> <a href="/orders">  <button type="button" class="btn btn-primary">View orders</button> </a>

<a href="/">  <button type="button" class="btn btn-success
     m-5">Go to home</button> </a>
</div>

     
     
</div>



<style>
    .box-shadow {
        
      font-family:  sans-serif;
      background-color: #ffffff;
      color: rgb(84, 89, 84);
      padding: 10px;
      border-radius: 4px;
      box-shadow: 2px 2px 20px 23px #b7b6b6; 
      height:80%;
      width: %;
    }
</style>